* {
  outline: none;
  color: $black-color;
  margin: 0;

  @media (max-width:480px) {
    font-size: 12px
  }
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: $base-color-100;
}

a:hover {
  text-decoration: none;
  color: $base-color-100;
}

a:focus {
  text-decoration: none;
  color: $base-color-100;
}

a:hover,
a:active {
  text-decoration: none;
  color: $base-color-100;
}

body {
  margin: 0;
}

.position-relative {
  position: relative;
}

h1 {
  font-size: 60px;
  margin: 0;

  @media (max-width:480px) {
    font-size: 48px
  }
}

h2 {
  font-size: 52px;
  margin: 0;
}

h3 {
  font-size: 46px;
  margin: 0;

  @media (max-width:480px) {
    font-size: 28px
  }
}

h4 {
  font-size: 36px;
  margin: 0;
}

h5 {
  font-size: 24px;
  margin: 0;

  @media (max-width:480px) {
    font-size: 20px
  }
}

.font-size-16 {
  font-size: 16px;

  @media (max-width:480px) {
    font-size: 12px
  }
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-10 {
  font-size: 10px;
}

.font-base-color {
  color: $base-color-100
}

.font-white {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate-90 {
  rotate: 90deg;
}

.rotate-270 {
  rotate: 270deg;
}