.header {
	background: linear-gradient(135deg, rgba(252, 238, 213, 1) 50%, rgba(255, 231, 186, 1) 100%);
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;

	@media (max-width:480px) {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

.headerContentContainer {
	display: flex;
	padding: 0 130px;

	@media (max-width:480px) {
		padding: 0 20px;
		display: block;
	}
}


.mobileImageContainer {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.textContainer {
	padding-top: 80px;
	padding-bottom: 200px;
	max-width: 40%;
	color: $base-color-100;
	min-width: 470px;

	>p {
		max-width: 480px;
		margin-top: 25px;
	}

	@media (max-width:480px) {
		padding-bottom: 20px;
		padding-top: 0px;
		max-width: unset;
		min-width: unset;
	}
}

.ctaContainer {
	display: flex;
	gap: 20px;
	margin-top: 35px;
}

.heroImageContainer {
	flex-grow: 1;

	>img {
		max-width: 100%;
		object-fit: contain;
	}
}