.banner {
  margin: 0 130px;
  display: flex;
  border-radius: 20px;
  background-color: $orange-100;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;

  @media (max-width:480px) {
    margin: 0 20px;
  }
}

.imageContainer {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.textContents {
  position: relative;
  z-index: 2;
  text-align: right;
  padding: 60px 85px;
  width: 50%;
  max-width: 500px;

  p {
    margin-top: 10px;
  }

  .buttonContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-end;
  }

  &.textleft {
    text-align: left;

    .buttonContainer {
      justify-content: flex-start;
    }
  }
}

.squareYellow {
  background: $light-yellow-100;
  border-radius: 99px;
  height: 635px;
  width: 783px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  rotate: 30deg;
}